@import url('https://fonts.googleapis.com/css?family=VT323');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    font-family: "VT323", sans-serif;
}
.fullHeight {
    height: 100vh;
}
.centerHolder {
    position:absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#animate::after {
    content: "|";
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    -ms-animation: blink 0.9s infinite;
    -o-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
}
@-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; }
}
@-o-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; }
}


#info {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#infoButton {
    float: right;
}

.informationBox {
    height: 0px;
    border-radius: 5px;
    color: black;
    margin-bottom: 5px;
    overflow-y: hidden;
    transition: 0.3s ease;
    text-align: right;
}
h6 {
  font-size: 18px;
}
a {
    text-decoration: none;
    color: coral;
}
a:hover {
    color: chocolate;
    transition: 0.3s ease;
    text-decoration: underline;
}